#calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#calcbtns {
    display: grid;
    grid-template-columns: 1fr repeat(3, 1fr);
    grid-template-rows: 1fr repeat(4, 1fr);
    width: 500px;
    height: 500px;
}

#zerobtn{
    grid-column: 1 / 3;
}